<h2 mat-dialog-title>
  App Settings
  <button mat-icon-button mat-dialog-close style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content class="settings-container">
  <div style="margin-bottom: 1rem;">
    <button mat-raised-button color="primary" (click)="openSavedSettingsDialog()">
      Saved Settings
    </button>
  </div>
  <mat-divider style="margin: 1rem 0;"></mat-divider>
  <div class="logo-section" style="text-align: center;">
    <img
      [src]="logoPreview || './assets/dummy.svg'"
      alt="Logo"
      style="max-height: 80px; margin-bottom: 1rem;"
    /> <br>
    <input type="file" #logoInput hidden (change)="onLogoSelected($event)" accept="image/*" />
    <button mat-raised-button color="primary" (click)="logoInput.click()">Upload Logo</button>
  </div>
  <mat-divider style="margin: 1rem 0;"></mat-divider>
  <mat-form-field appearance="fill" style="width: 90%;">
    <mat-label>Brand Name</mat-label>
    <input matInput [(ngModel)]="brandName" />
  </mat-form-field>
  <mat-divider style="margin: 1rem 0;"></mat-divider>
  <div class="colorPickerSec">
    <label for="colorPicker" style="font-weight: 500; display: block; margin-bottom: 8px;">
      Choose Theme Color
    </label>
    <input
      id="colorPicker"
      type="color"
      [(ngModel)]="primaryColor"
      style="width: 120px; height: 40px; border: none; border-radius: 3em; background: none; cursor: pointer;"
    />
  </div>
  <mat-divider style="margin: 1rem 0;"></mat-divider>
</div>
<mat-dialog-actions style="justify-content: center; gap: 1em;">
  <button mat-raised-button color="primary" (click)="saveSettings()">
    Save
  </button>
  <button mat-raised-button color="primary" (click)="resetSettings()">
    Reset
  </button>
</mat-dialog-actions>
